<h1>Public Access QuickSubmit Submissions</h1>

View:
 <%= link_to('All', submissions_path, class: 'btn btn-default') %>
 <%= link_to('Failed', submissions_path(filter: 'failed'), class: 'btn btn-default') %>
 <%= link_to('In Review Queue', submissions_path(filter: 'in review queue'), class: 'btn btn-default') %>
 <%= link_to('Approved', submissions_path(filter: 'approved'), class: 'btn btn-default') %>

<hr />

<% if @submissions %>

  <% @submissions.each do |sub| %>
    <% if sub.status == 'approved' %>
      <div class="panel panel-success">
    <% elsif sub.status == 'in review queue' %>
      <div class="panel panel-info">
    <% elsif sub.status == 'failed' %>
      <div class="panel panel-danger">
    <% else %>
      <div class="panel panel-warning">
    <% end %>
      <div class="panel-heading">
        <%= sub.title %>
      </div>
      <div class="panel-body">
        <% if current_user.admin? %>
        Submitter: <%= sub.user.email %><br />
        <% end %>
        Submitted: <%= time_ago_in_words(sub.created_at) %> ago<br />
        Status: <%= sub.status || 'unknown' %><br />
        Permanent URL: <%= sub.handle || 'pending submission processing' %>
        <br />
      </div>
      <% if current_user.admin? %>
        <div class="panel-footer">
          <%= link_to('View Details', submission_path(sub)) %>
          --
          <%= link_to('View Sword Package', submission_package_path(sub)) %>
          --
          <%= link_to('Resubmit Package', resubmit_path(sub), method: :post) %>
          --
          <%= link_to('Delete Submission', submission_path(sub), method: :delete) %>
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <p>You have no submissions in progress.</p>
<% end %>
