<h1>MIT DSpace Quick Submit</h1>

<%= bootstrap_form_for(@submission, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <%= f.text_field :author %>
  <%= f.text_field :title %>
  <%= f.text_field :journal %>
  <%= f.text_field :doi %>
  <%= f.text_field :grant_number %>

  <%= f.form_group :doe do %>
    <%= f.check_box :doe, label: "This submission was funded in part by grants from the DOE." %>
  <% end %>

  <%= f.form_group :agreed_to_license do %>
    <%= f.check_box :agreed_to_license,
        label: "I am authorized to submit this article." %>
  <% end %>

  <%= f.file_field :documents, multiple: true %>
  <%= f.hidden_field :documents_cache %>

  <% if @submission.documents? %>
    <%= f.form_group :documents do %>
      Already Uploaded Documents for this Submission:
      <ul>
      <% @submission.documents.each do |doc| %>
        <li><%= doc.filename %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>
