<h3 class="title title-page">Submit a new paper</h3>

<%= bootstrap_form_for(@submission,
                       html: { class: 'submissionUpload',
                               data: { 'form-data' => (@s3_direct_post.fields),
                              'url' => @s3_direct_post.url,
                              'host' => URI.parse(@s3_direct_post.url).host } },
                       layout: :horizontal, label_col: "col-sm-2",
                       control_col: "col-sm-10") do |f| %>
  <%= f.alert_message "Please fix the problems below.", error_summary: false %>
  <%= f.text_field :title %>
  <%= f.text_field :journal, placeholder: 'Optional' %>
  <%= f.text_field :doi, label: 'DOI', placeholder: 'Optional' %>
  <%= f.date_select :pub_date, discard_day: true, include_blank: true,
                               label: 'Publication Date',
                               help: 'If not yet published, please enter an estimated Publication Date.'%>

  <%= f.form_group :funders, label: { text: 'Funders' } do %>
    <% @submission.valid_funders.each do |funder| %>
      <%= f.check_box(:funders, { multiple: true, label: funder }, funder, nil ) %>
    <% end %>
  <% end %>

  <%= f.file_field :documents, multiple: true,
                               help: 'Drag and Drop files or click "Choose Files"' %>


  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <!-- The global progress bar -->
      <div id="progress" class="progress" style="display: none;">
        <div class="progress-bar progress-bar-success"></div>
      </div>

      <!-- The container for the uploaded files -->
      <div id="files" class="files">
        Already Uploaded Documents for this Submission:
        <ul id="file_list">
          <% if @submission.documents? %>
            <% @submission.documents.each do |doc| %>
              <li><%= doc.split('/').last %></li>
              <%= f.hidden_field :documents, value: doc, name: 'submission[documents][]', class: 'hidden_docs' %>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div id="resetUploads" style="display: none;">
        <button type="button" id="uploadReset" class="btn btn-danger">Remove Uploads</button>
      </div>
    </div>
  </div>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>

<script>
$(function () {
    'use strict';
    var form = $('#submission_documents').parents('form:first');
    var url = form.data('url');

    <% if @submission.documents? %>
      $('#resetUploads').show();
    <% else %>
      $('#files').hide();
    <% end %>

    $("#uploadReset").click(function() {
      $("#file_list").text('');
      $("#files").hide();
      $(".hidden_docs").remove();
      $("#progress").hide();
      $("#resetUploads").hide();
    });

    $('#submission_documents').fileupload({
        url: url,
        type: 'POST',
        dataType: 'XML',
        autoUpload: true,
        formData: form.data('form-data'),
        // acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
        paramName: 'file' // S3 does not like nested name fields i.e. name="user[avatar_url]",

    }).on('fileuploadadd', function (e, data) {
        // console.log("add");

    }).on('fileuploadprocessalways', function (e, data) {
        // console.log("always");

    }).on('fileuploadprogressall', function (e, data) {
        // console.log("progress all");

    }).on('fileuploaddone', function (e, data) {
        // console.log("upload done");
        data.context = $('#file_list');
        $.each(data.files, function (index, file) {
            var node = $('<li/>').text(file.name + ' uploaded');
            if (!index) {
                node.append('<br>');
                // console.log(file);
            }
            node.appendTo(data.context);
        });

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//' + form.data('host') + '/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', class: 'hidden_docs', name: $('#submission_documents').attr('name'), value: url })
        form.append(input);
        $("#files").show();
        $("#resetUploads").show();

    }).on('fileuploadfail', function (e, data) {
        // console.log("upload fail");
        $.each(data.files, function (index) {
            var error = $('<span class="text-danger"/>').text('File upload failed.');
            $(data.context.children()[index])
                .append('<br>')
                .append(error);
        });
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
