<ul>
  <li>Email: <%= mail_to(@submission.user.email) %></li>
  <li>Submitted: <%= @submission.created_at %></li>
  <li>Status: <%= @submission.status %></li>
  <li>Title: <%= @submission.title %></li>
  <li>Expected Publication Date: <%= @submission.pub_date.strftime("%B %Y") if @submission.pub_date %></li>
  <li>Funder(s):
    <ul>
      <% if @submission.funders.present? %>
        <% @submission.funders.each do |funder| %>
          <li><%= funder %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
  <li>File(s):
    <ul>
    <% @submission.documents.each do |doc| %>
      <li><%= link_to(@submission.document_uri(doc)) %></li>
    <% end %>
    </ul>
  </li>
</ul>
